@media screen and (max-width: 1170px) {
  .content_wrapper {
    margin: 0 15px;
  }
  .main_screen_wrapper {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .main_screen_header {
    h1 {
      margin-bottom: 200px;
    }
  }
  .consult_input {
    flex-direction: column;
    :nth-child(0) {
      display: none;
    }
  }
  .consult_hidden {
    display: block;
  }
  .consult_item {
    width: 100%;
    input {
      width: 100%;
    }
  }
  .slider_container {
    align-items: center;
    height: 1200px;
  }
  .slider_item {
    justify-content: center;
    align-items: center;
    width: 100%;
    left: auto;
  }
  .slider_controll {
    justify-content: center;
    right: auto;
    span {
      display: none;
    }
  }
  .slider_item_video_container {
    flex-direction: column;
    justify-content: center;
    p {
      max-width: none;
    }
    video {
      width: 100%;
      max-height: 213px;
    }
  }
  .slider_item_img_wrapper {
    flex-direction: column;
    :nth-child(2) {
      display: none;
    }
    img {
      width: 100%;
      max-height: 220px;
    }
  }
  .active_slide {
    top: 10%;
  }
  .prev_slide {
    left: auto;
    transform: scale(1);
    top: 5%;
  }
  .next_slide {
    transform: scale(1);
    z-index: 9;
    right: auto;
    bottom: -2%;
  }
}
@media screen and (max-width: 980px) {
  .footer_logo_container {
    flex-direction: column;
    img {
      margin-bottom: 25px;
      margin-left: -10px;
    }
  }

  .footer_menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
  }
  .footer_socials {
    a {
      width: 28px;
      height: 28px;
      img {
        width: 100%;
        height: 100%;
        max-width: none;
        max-height: none;
      }
    }
  }
  .contacts_wrapper {
    flex-direction: column-reverse;
  }
  .contacts_container {
    flex-direction: column;
    gap: 35px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 700px) {
  .main_screen_header {
    h1 {
      margin-bottom: 440px;
    }
  }
  .content_wrapper {
    max-width: none;
    margin: 0 15px;
  }
  .header {
    padding-top: 25px;
  }
  .header_logo {
    img {
      max-width: 80px;
      max-height: 20px;
    }
  }
  .header_socials {
    img {
      max-width: 20px;
      max-height: 20px;
    }
  }
  .header_button {
    button {
      max-width: 100px;
      max-height: 26px;
      padding: 8px 20px;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
    }
  }
  .works {
    margin-bottom: 100px;
  }
  .works_contrainer {
    justify-content: center;
    align-items: center;
  }
  .works_container_bottom_item {
    max-width: none;
    max-height: none;
  }
  .works_header {
    h1 {
      font-size: 34px;
      line-height: 56px;
    }
  }
  .works_right_container {
    flex-direction: column;
  }
  .our_works_header {
    margin-bottom: 40px;
    h1 {
      margin-bottom: 0px;
    }
  }
  .works_container_top_item {
    max-width: 390px;
    width: 100%;
  }
  .works_container_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .animation_bg {
    border-radius: 20px;
  }
  .bottom_item_container_bg {
    border-radius: 0 20px 20px 0;
  }
  .works_container_bottom_item {
    width: 100%;
    max-height: 360px;
    max-width: 360px;
    img {
      width: 100%;
      border-radius: 20px;
    }
  }
  .bottom_item_container {
    height: 260px;
    p {
      padding-top: 10px;
      padding-right: 11px;
      max-width: 290px;
      font-size: 23px;
    }
  }
  .bottom_item_right_container {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .buttons_container {
    gap: 15px;
    justify-content: flex-start;
  }
  .btn_gradient {
    padding: 15px 15px;
    font-size: 10px;
    line-height: 12px;
    width: 109px;
  }
  .column_bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 35.65%, #0c0e1d 99%);
  }
  .column_container {
    flex-direction: column;
    justify-content: center;
  }
  .tab_button {
    top: -100px;
  }
  .column_item {
    a {
      display: none;
    }
    p {
      display: none;
    }
  }
  .column_item_img_container {
    justify-content: flex-start;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .column_item_img_container:hover {
    a {
      display: none;
    }
    .column_item_adaptiv_text {
      position: absolute;
      display: block;
      left: 20px;
      bottom: 5%;
      z-index: 4;
      a {
        position: initial;
        display: block;
        border: none;
        padding: 0px 0px;
        text-align: left;
        text-decoration: underline;
        text-transform: none;
      }
      p {
        display: block;
      }
      .adaptiv_text_title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-decoration-line: underline;
        color: #ffffff;
        margin-bottom: 40px;
      }
    }
  }
  .team {
    margin-bottom: 100px;
  }
  .team_header {
    h1 {
      max-width: 356px;
      font-weight: 400;
    }
  }
  .numbers_container {
    display: none;
  }
  .video_wrapper {
    flex-direction: column;
  }
  .video_text {
    h5 {
      color: rgba(255, 255, 255, 0.6);
    }
    p {
      display: none;
    }
  }
  .consult_wrapper {
    padding: 60px 24px;
  }
  .consult_header {
    h1 {
      font-weight: 400;
      font-size: 34px;
      line-height: 49px;
    }
  }
}
