.slider_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.slider_wrapper{
  margin-top: 200px;
}
.slider {
    margin: 0 auto;
    max-width: 1360px;
    position: relative;
    overflow-x: hidden; 
  }
.swiper-container {
    padding: 0 15px;
    padding-bottom: 20px;
}
.swiper-container-horizontal > .swiper-scrollbar {
    border-radius: 2px;
    height: 5px;
    width: 200px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.swiper-wrapper {
  width: 83rem !important;
}
.swiper-wrapper img {
    width: 100%;
} 
.swiper-button-prev, .swiper-button-next, .swiper-scrollbar-horizontal {
    position: unset !important;
}
.swiper-controll {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 90px;
}
.swiper-buttons {
    display: flex;
    gap: 70px;
}
.swiper-button-next::after, .swiper-button-prev::after {
    content: unset !important;
}
.swiper-slide {
    width: 40% !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}
.swiper-slide:nth-child(even) {
    margin-top: 100px;
}
.swiper-slide h3 {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    text-transform: uppercase;
    background: linear-gradient(93.52deg, #FEAC5E 0.09%, #C97BCC 52.53%, #C779D0 52.54%, #4BC0C8 103.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.slider_item_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEF4FF;
    border-radius: 16px;
    padding: 20px;
    gap: 20px;
}
.slider_item_container iframe {
    width: 100%;
    height: 30rem;
    border-radius: 16px;
}
.slider_item_container_hover {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.slider_item_container_hover img {
    width: 45%;
}
.slider_itemt_content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.slider_text {
    display: none;
    width: 50%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #525252;
}
.clickedSlide {
    margin-top: 0;
    width: 95rem !important;
    transition: 1s all;
}
.swiper-slide:hover {
    margin-top: 0;
    transition: 1s all;
    width: 38rem !important;
}
.swiper-slide:hover iframe {
    width: 100%;
}
.swiper-slide:hover .slider_item_container_hover {
    display: flex;
    transition: 1s all;
}
.scaled-slide {
    transform: scale(0.9);
    transition: 1s all;
}