
.slider{
  margin-top: 200px;
  position: relative;
}
.slider-bg1{
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1000;
}
.slider-bg2{
  position: absolute;
  bottom: 0;
  position: absolute;
  z-index: -1000;
}
.slider_container {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow: hidden;
}
.slider_controll {
  position: sticky;
  z-index: 12;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  top: 10px;
  right: 0px;
}
.prev, .next {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FEAC5E;
  display: flex;
  gap: 10px;
  align-items: center;
}
.slider_item {
  width: 40%;
  display: flex;
  flex-direction: column;
  transition: all 500ms ease;
}
.slider_item h3 {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  text-transform: uppercase;
  background: linear-gradient(93.52deg, #FEAC5E 0.09%, #C97BCC 52.53%, #C779D0 52.54%, #4BC0C8 103.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.rotated_arrow {
  transform: rotate(180deg);
}
.dot_indicator {
  display: flex;
  align-items: center;
  gap: 5px;
}
.slider_item_container {
  background: #FEF4FF;
  border-radius: 16px;
  width: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.slider_item_container iframe {
  width: 50%;
}
.slider_item_container img {
  width: 50%;
}
.slider_item_container_hover {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}