.slider-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-section .content_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
.swiper-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.swiper-wrapper {
    height: unset !important;
}
.slider-section-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.slider-section-header h3 {
    width: 85%;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 100px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.slider-section-header h3 span {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 100px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #FEAC5E 1.16%, #C779D0 102.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.slider-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.swiper-button-prev {
    position: unset !important;
}
.swiper-button-next {
    position: unset !important;
}
.swiper-button-prev::after, .swiper-button-next::after {
    content: unset !important;
}
.swiper-slide {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: fit-content !important;
}
.swiper-slide h3 {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    text-transform: uppercase;
    background: linear-gradient(93.52deg, #FEAC5E 0.09%, #C97BCC 52.53%, #C779D0 52.54%, #4BC0C8 103.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.slider_item_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FEF4FF;
    border-radius: 16px;
    gap: 10px;
    padding: 20px;
}
.slider_itemt_content {
    width: 100%;
    display: flex;
}
.sliderText {
    display: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #525252;
}
.slider_item_container_images {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
}
.slider_item_container_images img {
    width: 45%;
}
.videoFrame {
    width: 100%;
    height: 25rem;
}
.swiper-slide:nth-child(even) {
    margin-top: 100px;
}
.swiper-slide:hover .slider_item_container_images {
    display: flex;
}
.scaled-slide-min {
    transform: scale(0.9) !important;
    transition: 1s all;
}
.scaled-slide-max {
    transform: scale(1.2) !important;
    margin: 0 40px 0 20px !important;
    transition: 1s all;
}