.small-slider-wrapper {
    width: 100%;
    display: none;
}
.slider__container {
    cursor: grab;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}
.slider__container.dragging {
    scroll-behavior: auto;
    cursor: grabbing;
}
.slider__item {
    padding: 0 20px 0 0;
    flex: 0 0 auto;
    width: calc(100% / 5);
}
.slider__container[data-step="4"] .slider__item {
    width: calc(100% / 4);
}
.slider__container[data-step="3"] .slider__item {
    width: calc(100% / 3);
}
.slider__container[data-step="2"] .slider__item {
    width: calc(100% / 2);
}
.slider__container[data-step="1"] .slider__item {
    width: calc(100% / 1);
}
@media screen and (max-width: 1024px) {
    .slider__item, .slider__container[data-step="4"] .slider__item {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 768px) {
    .slider__item, .slider__container[data-step="4"] .slider__item, .slider__container[data-step="3"] .slider__item {
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 480px) {
    .slider__item, .slider__container[data-step="4"] .slider__item, 
        .slider__container[data-step="3"] .slider__item,
            .slider__container[data-step="2"] .slider__item {
        width: calc(100% / 1);
    }
}
.slider__item img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}
.slides-indicator {
    width: 100%;
    display: none;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
